body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: "Open Sans", Helvetica, sans-serif;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr auto 3fr;
  height: 100vh;
  width: 100vw;
}

section {
  width: 80vw;
  max-width: 700px;
  font-size: 0;
  text-align: center;
}

img {
  height: 45%;
  border-radius: 50%;
  width: 45%;
  margin-bottom: 10px;
}

h1 {
  font-size: 64px;
  margin: 10px 0 0 0;
  font-family: "Merriweather", sans-serif;
}

h2 {
	font-size: 26px;
	margin: 3px;
	text-transform: uppercase;
	color: lightslategray;
	font-family: "Open Sans", sans-serif;
 }

a {
  font-size: 24px;
  text-decoration: none;
  color: lightslategray;
  margin: 8px;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: darkslategray;
  transition: color ease-in-out 0.3s;
}

p {
	text-align: center;
	font-size: 18px;
	color: navy;
}

div {
  height: 150px;
}
